{% extends 'base.html' %}
{% block title %}Add Expense - Expense Tracker{% endblock %}

{% block content %}
  <h2>Add a New Expense</h2>
  <form method="POST" action="{{ url_for('main.add_expense') }}">
    <label for="date">Date:</label>
    <input type="date" name="date" required><br>

    <label for="category">Category:</label>
    <input type="text" name="category" placeholder="Food, Travel..." required><br>

    <label for="amount">Amount:</label>
    <input type="number" name="amount" step="0.01" required><br>

    <button type="submit">Add Expense</button>
  </form>
{% endblock %}
